{% extends "base.html.twig" %}

        {% block title %} {{ controller_name }} {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% block body %}

            <div><h2> Links a Entregas <h2></div>
            <div><h3> Entrega 2 <h3></div>
            <div><h4> <a href="{{ path('home/entrega_dos') }}">>> Link a Entrega 2 </a> <h4></div>

            <div><h3> Entrega 3 <h3></div>
            <div><h4> <a href="{{ path('home/entrega_tres') }}">>> Link a Entrega 3 </a> <h4></div>

            <div><h3> Entrega 4 <h3></div>
            <div><h4> <a href="{{ path('home/entrega_cuatro') }}">>> Link a Entrega 4 </a> <h4></div>

            <div><h3> Actividad integradora <h3></div>
            <div><h4> <a href="{{ path('home/entrega_integradora') }}">>> Link a Actividad integradora </a> <h4></div>
        

        {% endblock %}
