{% extends 'base.html.twig' %}

{% block title %}Listado de Productos{% endblock %}

{% block body %}
    <div><h3>  <a href="{{ path('home') }}"><< Volver a Index Entregas </a> <h3></div>

    <h3>Listado de Productos</h3>

    <table class="table" style="width:100%; text-align: left;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.nombre }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Ver</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('product_new') }}">(+) Nuevo Producto</a>
{% endblock %}
